= simple_form_for @story do |f|
  - if @story.errors.any?
    #error_explanation
      %h2
        = pluralize(@story.errors.count, "error")
        prohibited this story from being saved:
      %ul
        - @story.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.input :user_id, :collection => User.all, :label_method => :email, :value_method => :id, :include_blank => false
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.hidden_field :author_id, :label_method => :author_id, :value => current_user.id
  .actions
    = f.submit
