%p#notice= notice
%p
  %b Title:
  = @story.title
%p
  %b State:
  = @story.state
%p
  %b User:
  = @story.user_id
%p
  %b Description:
  = @story.description
%p
  %b Author:
  = @story.author_id

- if @story.author == current_user
  = link_to "Принять задачу", story_change_state_path(@story, event: :accept), method: :put if @story.can_accept?
  = link_to "Отклонить задачу", story_change_state_path(@story, event: :reject), method: :put if @story.can_reject?
  = link_to "Начать выполнение", story_change_state_path(@story, event: :start), method: :put if @story.can_start?
  = link_to "Завершить выполнение", story_change_state_path(@story, event: :finish), method: :put if @story.can_finish?


= link_to 'Edit', edit_story_path(@story)
|
\#{link_to 'Back', stories_path}
