%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag "bootstrap", :media => "all"
  %body
    - if signed_in?
      .navbar.navbar-fixed-top.navbar-inverse
        .navbar-inner
          .container
            %a.brand(href="/") TaskManager
            .container.navbar-text
              = link_to current_user.email, current_user
              = link_to "Выйти", log_out_path, method: :delete
    -else
      .navbar.navbar-fixed-top.navbar-inverse
        .navbar-inner
          .container
            %a.brand(href="/") TaskManager
            .container.navbar-text
              = link_to "Регистрация", sign_up_path
              = link_to "Вход", log_in_path

    #wrap
      .container
        .row
          .span12
          - if flash[:notice]
            .alert.alert-success
            = flash[:notice]
          - if flash[:error]
            .alert.alert-error
            = flash[:error]
          = yield

    = javascript_include_tag "application"

